---
import Layout from "../../layouts/Layout.astro";
import { SignIn } from "@clerk/astro/components";
import LogoRocket from "../../../public/logo-rocket.svg";
---

<Layout title="Iniciar Sesion - Rocket Chat Simulator">
  <div class="min-h-screen flex items-center justify-center p-4 ">
    <div class="w-full max-w-min    ">
      <div class=" text-center pb-4">
        <LogoRocket class="w-20 h-20 mx-auto mb-4" />
        <h1 class="text-6xl md:text-3xl font-rocket ">Rocket</h1>
      </div>
      <SignIn redirectUrl="/dashboard" />
    </div>
  </div>
</Layout>
