@import "tailwindcss";

@theme {
  /* Colores principales */
  --color-primary: #f36b44;
  --color-secundary: #e3e4e1;
  --color-terciary: #151515;
  --color-terminal: #2d2d2d;
  --font-rocket: "rocket", "sans-serif";
  --font-jet: "jet", "sans-serif";
}

@font-face {
  font-family: "rocket";
  src: url(/public/assets/AlphaLyrae-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "jet";
  src: url(/public/assets/JetBrainsMono-variable.woff2) format("woff2");
  font-display: swap;
}
