@import "tailwindcss";

@theme {
  /* Colores principales */
  --color-primary: #f36b44;
  --color-secundary: #e3e4e1;
  --color-terciary: #151515;
  --color-terminal: #201E1D;
  --font-rocket: "rocket", "sans-serif";
  --font-jet: "jet", "sans-serif";
}


body{
  background-color: var(--color-secundary); 
  color: var(--color-terciary);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-secundary);
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    color: white;
    background-color: var(--color-terciary);
  }
}


@font-face {
  font-family: "rocket";
  src: url(/public/assets/AlphaLyrae-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "jet";
  src: url(/public/assets/JetBrainsMono-variable.woff2) format("woff2");
  font-display: swap;
}
