@import "tailwindcss";

@theme {
  /* Colores principales */
  --color-primary: #7C22FF;
  --color-primary-text: #ffffff;
  --color-secundary: #53FC18; 
  --color-bg-secundary: #e3e4e1;
  --color-bg-primary: #151515;
  --color-terminal: #191919;
  --font-rocket: "rocket", "sans-serif";
  --font-jet: "jet", "sans-serif";
  --font-geistCircle: "geistCircle", "sans-serif";
  --font-geistGrid: "geistGrid", "sans-serif";
  --font-geistLine: "geistLine", "sans-serif";
  --font-geistSquare: "geistSquare", "sans-serif";
  --font-geistTraingle: "geistTraingle", "sans-serif";
  --font-departure: "departure", "sans-serif";
}


body {
  background-color: var(--color-bg-secundary);
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #000000;
  }
}

@font-face {
  font-family: "rocket";
  src: url(/public/assets/AlphaLyrae-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "jet";
  src: url(/public/assets/JetBrainsMono-variable.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "geistCircle";
  src: url(/public/assets/GeistPixel-Circle.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "geistGrid";
  src: url(/public/assets/GeistPixel-Grid.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "geistLine";
  src: url(/public/assets/GeistPixel-Line.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "geistSquare";
  src: url(/public/assets/GeistPixel-Square.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "geistTraingle";
  src: url(/public/assets/GeistPixel-Triangle.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "departure";
  src: url(/public/assets/DepartureMono-Regular.woff2) format("woff2");
  font-display: swap;
}