---
---

<footer class="flex flex-col justify-center items-center  ">
    
    
    <div class="flex  mt-6 ">
      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <img src="/assets/icons/instagram.svg" alt="Instagram" class="social-icon" />
      </a>
      <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <img src="/assets/icons/linkelind.svg" alt="LinkedIn" class="social-icon" />
      </a>
      <a href="https://github.com" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <img src="/assets/icons/githubIcon.svg" alt="GitHub" class="social-icon" />
      </a>
    </div>
    
</footer>

